<footer>
    <div class="footer-container">
        <div class="footer-contact">
            <div class="contact-container">
                <img class="email-icon" src="../assets/content/icons/page icons/email.svg">
                <p>thethompsonfactor@gmail.com</p>
            </div>
            <div class="contact-container">
                <img class="phone-icon" src="../assets/content/icons/page icons/icons8-phone.svg">
                <p>+61 421853083</p>
            </div>
            <div class="contact-container">
                <div class="icon-container">
                    <a href="https://www.instagram.com/ryan__thompson__grips/"><img class="instagram-icon" src="../assets/content/icons/page icons/ig-instagram-icon.svg"></a>
                    <a href="https://www.imdb.com/name/nm4975862/"><img class="imdb-icon" src="../assets/content/icons/page icons/imdb-colour.png"></a>
                </div>
            </div>
        </div>
    </div> 
    <div class="copyright">
        <p>&copy; 2025 Ryan Thompson Grips. All rights reserved.</p>
    </div>
</footer>