<nav>
    <p class="logo"><a href="../index.html">RYAN THOMPSON GRIPS</a></p>
    <ul class="nav-list">
        <li class="nav-item"><a href="../pages/narrative.html">NARRATIVE</a></li>
        <li class="nav-item"><a href="../pages/commercial.html">COMMERCIAL</a></li>
        <li class="nav-item"><a href="../pages/gear-bio.html">GEAR/BIO</a></li>
    </ul>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>